.Card {
    border: 2.5px solid #fff;
    padding: 30px 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    width: auto;
    height: auto;
    min-width: 20vw;

    .Avatar {
        width: 100px;
        height: 100px;
    }

    .Username {
        font-weight: normal;
        text-decoration: underline;
        text-decoration-color: #fff;
        margin-bottom: 20px;
    }

    .Table {
        width: 100%;
        border: 1px solid #fff;
        td {
            text-align: center;

            a {
                color: white;
                font-weight: bold;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                    text-decoration-color: #fff;
                }
            }
        }

        .TitleTd {
            border-right: 1px solid #fff;
        }

        tr {
            td {
                border-top: 2px solid #fff;
            }

            &:first-child {
                td {
                    border-top: none;
                }
            }
        }
    }
}

.GithubLink {
    margin-top: 20px;
    color: white;
    text-decoration: underline;
}